* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#flow {
  border: 1.5px solid #000;
}

#input-cont {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
}

#input {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 24px;
}
